# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 特定のディレクトリを無視する場合は先頭と末尾に/を付ける
eclipse/
conf/
.settings/
.git/
classes/
findbugs/
target/

/eclipse/
/conf/
/.settings/
/.git/
/classes/
/findbugs/
/target/
