# Compiled class file
*.class
.classpath
.project
*.conf
conf/log4j.properties

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 特定のディレクトリを無視する場合は先頭と末尾に/を付ける
eclipse/
.settings/
.git/
classes/
target/
report/

/eclipse/
/.settings/
/.git/
/classes/
/target/
/report/

# 追加しても実行できないとき
# git rm -r --cached .classpath
# git rm -r --cached report
# のように git rm -r --cached だと、 すべてになるのであまりおすすめしない
